body,html{
	width: 100%;
	height: 100%;
	font-family: 'BhuTuka Expanded One', cursive;
	font-family: 'Inconsolata', monospace;
	font-family: 'Raleway', sans-serif;
	 background: url(house.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
h1{

	font-size: 4rem;
	color: #3B3A2C;
	text-align: center;


}
hr{
	border-color: rgba(59, 58, 44, 0.6);
	border-width: 3px;
	max-width: 1400px;
}
.btn{
	font-weight: 600;
	border-radius: 200px;
	text-transform: uppercase;

}

.btn-xl{
	padding: 0.7rem 5rem;
	margin: 0rem 0.2rem ;

}
.btn-secondary{
	background-color: rgba(59, 58, 44, 0.6);
	border-color: rgba(59, 58, 44, 0.2);
}
.btn-secondary:hover{
	background-color: rgba(59, 58, 44, 0.8);

	border-color: rgba(59, 58, 44, 0.2);
	/*border-width: 3px;*/
	
}

